* {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
	text-decoration: none;
	list-style: none;
	font-family: 'ZCOOL XiaoWei', serif;
	font-family: 'Dancing Script', cursive;
	font-family: 'Cairo', sans-serif;
}
body {
	background-color: #fcfcfc;
}
header {
	display: flex;
	justify-content: space-between;
}
.home-logo {
	width: 5vw;
	height: 9vh;
	padding: 3px;
	margin-top: 7px;
	margin-left: 12px;
}
.menu {
	font-size: 18px;
	padding: 10px;
	color: #000;
	margin-right: 25px;
}
.menu:hover {
	color: #CD5C5C;
	font-weight: bold;
}
main {
	width: 100vw;
	display: flex;
	align-content: center;
	justify-content: center;
}
.containerProfile{
	width: 80vw;
	display: flex;
	align-content: center;
	justify-content: center;
	flex-wrap: wrap-reverse;
}
.containerProfile__block{
	width: 400px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	margin: 10px;
}
.containerProfile__blockTit {
	width: 100%;
	height: auto;
	font-family: 'Dancing Script', cursive;
	font-size: 10em;
	font-weight: 700;
	color: #000;
	background-image: url(assets/newyork.gif);
	background-size: cover;
	-webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    margin-top: 60px;
}
.containerProfile__blockSub {
	font-family: 'ZCOOL XiaoWei', serif;
	font-size:25px;
	color: #5F9EA0;
	line-height: 23px;
}
.containerProfile__blockTex {
	width: 100%;
	margin-top: 30px;
}
.text {
	font-family: 'Cairo', sans-serif;
	font-size: 18px;
	line-height: 25px;
	margin-top: 120px;
	margin: 0;
}
.containerProfile__Photo {
	display: flex;
	justify-content: center;
}
.profile-image {
	width: 280px;
	height: 280px;
	margin-left: 40px;
	margin-top: 85px;
	border-radius: 100%;
	border: 1px solid #FA8072;
}
.containerProfile__network {
	width: 50px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	padding-top: 50px;
	margin-left: 10px;
}
.network-image {
	width: 19px;
	height: 19px;
}
footer {
	display: flex;
	justify-content: center;
	margin-top: 100px;
	font-family: 'Open Sans', sans-serif;
	font-size: 12px;
}
@media (max-width: 450px) {
	header {
	width: 100vw;
	}
	main {
	width: 100vw;
	}
	.home-logo {
	width: 11vw;
	height: 7vh;
	padding: 2px;
	}
	.menu {
		margin-right: 5px;
	}
	.containerProfile {
		width: 85vw;
	}
	.containerProfile__block {
		width: 85vw;
	}
	.containerProfile__blockTit {
		width: 85vw;
		font-size: 4em;
		text-align: center;
		margin: 0;
	}
	.containerProfile__blockSub {
		width: 85vw;
		font-size: 16px;
		text-align: center;
	}
	.containerProfile__blockTex {
		width: 85vw;
		text-align: center;
	}
	.containerProfile__Photo {
		width: 40vw;
	}
	.profile-image {
		width: 9em;
		height: 9em;
		margin: 0;
		margin-top: 1.5cm;
	}
	.text {
		font-size: 15px;
	}
	.containerProfile__network {
		flex-direction: column;
		justify-content: flex-end;
		align-items: center;
		margin-bottom: 0.3cm;
	}
	.network-image {
		width: 17px;
		height: 17px;
	}
	footer {
		margin-top: 4cm;
	}
}
@media (max-width: 768px) {

}
 /*©Copyright 2019 Yanca Romano*/
}
